  <a [routerLink]="['/']" mat-button>
    <mat-icon>home</mat-icon>
    <span class="link-text">Accueil</span>
  </a>
  <a mat-button>
    <mat-icon>view_column</mat-icon>
    <span class="link-text">Formulaires</span>
  </a>
  <a mat-button>
    <mat-icon>grid_on</mat-icon>
    <span class="link-text">Lists</span>
  </a>
  <a mat-button>
    <mat-icon>aspect_ratio</mat-icon>
    <span class="link-text">Etc...</span>
  </a>
  <a mat-button [routerLink]="['/back-office']">
    <mat-icon>home</mat-icon>
    <span class="link-text">Backoffice</span>
  </a>
